body {
  background-color: rgb(251, 249, 245);
  font-family: "Courier New", Courier, monospace;
}
.main-container {
  height: 600px;
  width: 500px;

  text-align: center;
  margin: auto;
}
.header {
  margin: auto;
  margin-top: 50px;
  /* text-align: center; */
}
button {
  background-color: rgb(53, 76, 160);
  color: antiquewhite;
  margin-top: 10px;
  width: 100px;
}
.reset-btn {
  font-size: 30px;
  width: 65px;
  height: 65px;
}
table {
  margin: auto;
  margin-top: 25px;
}
.cell {
  background-color: rgb(53, 76, 160);
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 0px;
  color: antiquewhite;
  font-weight: 600;
}

.cell:hover {
  background-color: rgb(125, 142, 203);
}

.revealed {
  background-color: rgb(53, 76, 160);
}
